body {
    background-color: rgb(90, 90, 90);
}

.imgz {
    margin-top:25px;
}

.home1 {
    text-decoration: none;
    color:rgb(143, 143, 143);
    text-align: left;
    position: absolute;
    left: 0;
}
